<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021AA602_2021RA650</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021AA602_2021RA650.styles.css" asp-append-version="true" />
    <header>
        <div style="background-color: #22252c;">
            <img src="/img/UNICAES_Logo.png" width="100px" height="auto" style="margin-top: 50px; margin-left: 650px;" />
            <p style="color: aliceblue; text-align: center; font-size: 30px; padding-top: 10px;"> Comentarios por Libros</p>
            <p style="color: aliceblue; text-align: center; font-weight: lighter; font-size: 15px; padding-bottom: 30px; margin-top: -10px;"> Seleccione el autor ->Seleccione el libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</p>

        </div>
    </header>
</head>
<body>
    
    <div class="container">
    <ul class="progressbar">
            <li><a asp-controller="Home" asp-action="Privacy">Hola</a></li>
        <li>Libros</li>
        <li class="active">Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #22252c;">
        <p style="text-align: center; color: aliceblue; font-weight: lighter;"> 2024-20-04 - Mario Nelson Arrevillaga Arévalo</p>
        <p style="text-align: center; color: aliceblue; font-weight: lighter;"> 2024-20-04 - Gabriel Alejandro Rendón Alas</p>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
